@media (max-width: 992px) {

.mobile-navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

  .mobile-nav {
    display: inherit !important;
    position: relative;
    background-color: #f72110;
  }

  .mobile-nav a{
    color: white;

  }

  div.featured {
    width: 100%;
  }

  div.top-story img,
  div.featured img {
    width: 100%;
    height: auto;
    margin: 0;
  }

   div.us-main img,
   div.us-main1 img {
     width: 100%;
     height: auto;
   }

  .desktop-navbar {
    display: none;
  }

  footer {
    width: 100%;
  }
}

body {
  background-color: #f4f5f6;
}

.navbar {
 display: none;
}

.navbar i {
  color: white;
  position: absolute;
  right: 10px;
  top: 20px;
}

h1 {
  display: none;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background-color: #f72110;
}

.low-nav {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 10px;
}

.low-nav i {
  font-size: 20px;
}

.low-nav span {
  font-size: 18px;
}

.low-nav a {
  color: black;
  font-size: 17px;
  margin-right: 13px;
  margin-left: 10px;
}

nav img {
  justify-content: center;
  width: 30%;
}

.first-nav a {
  color: white;
  font-size: 18px;
}

.first-nav i {
  margin-left: 10px;
  font-size: 15px;
  color: white;
}

.button {
  align-items: flex-end;
  font-size: 20px;
  color: red;
  margin-left: 10px;
}

.main {
  display: grid;
  background-color: #ffffff;
  padding-right: 20px;
}

.heading {
  font-size: 18px;
  color: #9a9a9a;
  padding-left: 50px;
}

.featured1 {
  margin-top: 20px;
  padding-left: 80px;
}

.opinion {
  padding-left: 40px;
  margin-right: 0;
}

.opinion img {
  float: left;
  margin-right: 10px;
}

.featured img {
  width: 380px;
  height: 225px;
  padding-left: 50px;
}

.featured p {
  padding-left: 50px;
  color: #515151;
}

.top p {
  color: #515151;
}

.featured a,
.top a,
.editors1 a,
.slide1 a,
.us-main a,
.us-main1 a {
  color: black;
  font-size: 22px;
  margin-top: 10px;
}

.featured a:hover {
  color: red;
  text-decoration: underline;
}

.top img {
  width: 450px;
  height: 310px;
}

 .culture {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.culture1 img,
.culture2 img,
.culture3 img {
  width: 100%;
  height: auto;
}

.top-p {
  font-size: 19px;
  color: black;
}

.top-p1 {
  color: #9a9a9a;
}

.opinion-p {
  font-weight: bold;
  font-size: 15px;
}

.opinion span {
  color: #555555;
  margin-left: 70px;
}

.congress {
  height: 90px;
}

.congress1 {
  margin-bottom: 20px;
}

.img img {
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first {
  border: 1px solid red;
}

.more-stories {
  margin-top: 30px;
  font-size: 14px;
}

.more-stories p,
.editors1 p {
  margin-top: 10px;
}

.more-main {
  border-bottom: 1px solid grey;
  overflow: hidden;
  padding-bottom: 10px;
}

.more-main a {
  font-size: 15px;
}

.more-main img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;

}

.more

.mag-heading img,
.editors-heading img,
.slideshow-heading img {
  width: 40px;
  height: 30px;
  margin-left: 500px;
}

.editors-heading,
.slideshow-heading {
  margin-top: 20px;
}

.editors1 img,
.slide1 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.mag {
  width: 100%;
  height: auto;
}

.mag img {
  width: 100%;
}

.mag-1 img {
  width: 100%;
  height: auto;
}

.mag-1 a {
  color: black;
  font-size: 18px;
}

.editors1{
  height: 400px;
}

.slide1 img {
  margin-bottom: 15px;
}

.us h4,
.subscribe h4 {
  color: #f72110;
  margin-left: 15px;
  font-size: 20px;
}

 .us-main img,
 .us-main1 img {
   width: 350px;
   height: 250px;
 }

 .us-side1 {
   overflow: hidden;
 }

 .us-side1 {
   margin-bottom: 20px;
   padding-bottom: 10px;
   border-bottom: 1px solid grey;
 }

 .us-side1 img {
   width: 90px;
   height: auto;
   margin-right: 10px;
   float: left;
 }

.us-side1 p {
  margin-left: 10px;
}

.us-aside img {
  width: 90px;
  height: auto;
}

 .us-aside a {
  color: black;
  font-size: 13px;
 }

 .subscribe {
   margin-top: 15px;
 }

.subscribe img {
  width: 100%;
  height: auto;
}

.news-letter img {
  width: 250px;
  height: auto;
}

.news-letter span {
  margin-right: 600px;
}

.news-letter i {
  font-size: 25px;
  margin-right: 10px;
}

footer a,
.footer-span {
  color: #666666;
  margin-right: 5px;
}

footer a:hover {
  color: black;
  text-decoration: none;
}
