@media (min-width: 992px) and (max-width: 1430px) {
  img#newsletter-img {
    margin-top: 10px;
    width: 40%;
    height: 250px;
  }

  .subscribe-short {
    border: 1px solid ebebeb;
  }

  .subscribe-text h3 {
    font-size: 17px;
  }
}

@media (min-width: 778px) and (max-width: 991px) {
  div.subscribe-long {
    display: flex;
    margin-bottom: 25px;
  }

  .subscribe-aside {
    margin-top: 50px;
    font-size: 14px;
  }

  img#newsletter-img {
    width: 200px;
    height: auto;
  }

  .subscribe-text {
    font-size: 13px;
    margin-bottom: 45px;
  }

  .top-section {
    margin-top: 15px;
  }

  .us-aside img {
    width: 70px;
    height: 70px;
  }

  div.us-aside {
    line-height: 1em;
  }

  div.mag-main a {
    font-size: 20px;
  }

  div.more-stories a {
    font-size: 15px;
  }

  img.story-img {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  div.more-stories {
    line-height: 3em;
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  div.subscribe-long {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  div.footer-items a,
  span.footer-span {
    border-right: none !important;
  }

  div.footer-content {
    display: flex;
    flex-direction: column !important;
  }

  div.footer-icons {
    margin-left:5px !important;
    margin-top:5px !important;
  }

  div.footer-logo,
  div.footer-logo span {
    display: block !important;
  }

  nav.first-nav i{
    font-size: 13px;
  }

  div.us-aside1 {
    margin-top: 20px;
  }

  div.culture-travel img {
    width: 100%;
  }

  .subscribe-aside h4 {
    font-size: 15px;
  }

  .subscribe-aside {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
    margin-bottom: 20px;
  }

  div.more-stories a {
    font-size: 15px;
  }

  img.story-img {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  div.more-stories {
    line-height: 2.5em;
    font-size: 7px;
  }

  div.subscribe-short {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .subscribe-text {
    text-align: center;
    font-size: 13px;
    margin-top: 5px !important;
  }

  .top-section {
    margin-top: 15px;
  }

  .us-aside img {
    width: 70px;
    height: 70px;
  }

  div.us-aside {
    line-height: 1em;
  }

  img#newsletter-img {
    width: 100%;
    height: 200px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  div.mag-main a {
    font-size: 20px;
  }

  .magazine,
  .editors {
    line-height: 1.5em;
  }
}

.full-body {
  background-color: #f4f5f6;
}

h1 {
  display: none;
}

.first-nav {
  background-color: #f72110;
}

 img#nav-logo {
  width: 130px;
}

footer a,
.footer-span {
  font-size: 14px;
  line-height: 2em;
  color: #666;
}

.more-stories a {
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}

.more-stories p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #4c4c4c;
}

.rounded-circle {
  background-color: black;
  text-align: center;
  color: white;
  height: 40px;
  width: 40px;
}

.low-nav {
  color: black;
}

.first-nav a {
  color: white;
  font-size: 18px;
}

.featured1 a,
.us-main a,
.mag-main a {
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 22px;
}

.us-aside a {
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}

.debate-p a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

.nav-last {
  display: flex;
  justify-content: space-evenly;
}

 .desktop-navbar-first button,
 .right-nav button {
   color: red;
   background-color: white;
 }


.desktop-navbar-last a:hover {
  color: black;
  text-decoration: none;
}

nav img {
  justify-content: center;
  width: 30%;
}

.first-nav i {
  margin-left: 10px;
  font-size: 15px;
  color: white;
}

.button {
  align-items: flex-end;
  font-size: 20px;
  color: red;
  margin-left: 10px;
}

main {
  background-color: #fff;
}

.heading {
  font-size: 15px;
  color: #9a9a9a;
}

.title-heading {
  font-size: 18px;
  color: black;
}

.story-img {
  width: 120px;
  height: 100px;
  margin-right: 10px;
}

.op-img img {
  width: 70px;
  height: 70px;
}

.op-img span {
  font-size: 14px;
}

.top-p1 {
  color: #b1b1b1;
}

.us-aside span {
  color: #555;
  font-size: 13px;
}

.subscribe-long {
  background-color: #f4f5f6;
}

.us-aside a:hover {
  color: red;
  text-decoration: none;
}

.us-main a:hover,
.mag-main a:hover {
  color: black;
  text-decoration-color: red;
}

.featured a:hover {
  color: red;
  text-decoration: underline;
}

.featured1 a:hover {
  color: black;
  text-decoration-color: red;
}

.debate-p a:hover {
  color: black;
  text-decoration: none;
}

.us-heading {
  color: red;
}

.subscribe h4 {
  color: #f72110;
  font-size: 20px;
}

.img-footer {
  width: 200px;
  height: auto;
}

.news-letter i {
  font-size: 20px;
}

.subscribe-img1 {
  top: 20px;
  left: 50px;
}

.subscribe-aside h4 {
  color: black;
}

.subscribe-aside span,
.subscribe-text span {
  background-color: #f72110;
  color: white;
}

#newsletter-img {
  width: 200px;
  height: auto;
}

.op-float {
  border-bottom: 2px double red;
}

.op-float1 {
  border-bottom: 2px double grey;
}

.float-round {
  position: absolute;
  left: 120px;
  top: 0;
}

.op-float2 {
  border-bottom: 2px solid lightblue;
}
